html {
	font-family: "helvetica neue", helvetica, arial, sans-serif;
}

#app {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

/* General purpose */
.hidden {
	display: none !important;
}

.hidden-block {
	visibility: hidden;
}

label {
	font-size: 0.8em;
}

.label-value {
	opacity: 0.6;
	margin: 10px;
}
