.main-form-section {
	display: flex;
	justify-content: space-between;
	min-width: 60%;
	margin: 0.5rem;
}

.main-form-section > * {
	margin: 5px;
}

/* Main color input */
#main-color-pick {
	width: 100%;
	height: 35px;
	margin: 10px;
	padding: 0px;
	border: none;
}

/* History component */
div#history > .items > .item {
	display: inline-flex;
	width: 25px;
	height: 25px;
	transition: transform 0.2s;
	border-radius: 5px;
	margin: 1px;
}

div#history > .items > .item:hover {
	transform: scale(1.5);
	box-shadow: rgba(0, 0, 0, 0.37) 1px 2px 4px 0px;
}

div#history::before {
	content: "History [" attr(data-before) "]";
}

div#history {
	position: fixed;
	width: 45%;
	max-height: 20%;
	min-height: 60px;
	height: 50vh;
	transform: scale(0.8);
	overflow-y: hidden;
	padding: 30px;
	border-radius: 10px;
	transition: transform 0.5s ease-in-out;
	left: 50%;
	/* transform: translate(-50%, -50%); */
	bottom: 0;
	background-color: #ffffffbf;
}

div#history:hover {
	overflow-y: auto;
	box-shadow: rgba(0, 0, 0, 0.37) 1px 2px 4px 0px;
	transform: translate(-20%, -50%) scale(1.2);
}

#empty-history-items-button::before {
	content: "🗑️";
}

#empty-history-items-button {
	display: inline;
	vertical-align: middle;
	font-size: 2em;
	position: sticky;
	cursor: pointer;
}

/* Stats component */
#stats > span {
	display: block;
	padding: 10px;
	border-radius: 10px;
	font-size: 0.7em;
	min-width: 180px;
}

#selected-color::before {
	content: "Selected color: ";
}

#previous-selected-color::before {
	content: "Previous color: ";
}

#num-picked::before {
	content: "Pick count: ";
}

#pick-id::before {
	content: "Pick id: ";
}

.debugging-opts {
	width: 70%;
}
